*{
	border: 0;
	margin: 0;
	padding: 0;
}

@font-face{
	font-family: "Open Sans";
	src: url("../fonts/OpenSans-CondBold.ttf "); 
	 font-weight: normal;
	 font-style: normal;
}

.fondo_cuerpo{
	background: #FFFFFF  url(../img/fondo.jpg);
}



