
img {
  width: 77px;
  margin-left: 3px;
  margin-top: 0px;
}

#titulo {
  position: absolute;
  top: -10px;
  right: 0.3em;
  font-size: 27px;
  color: white;
}

#cuadro-login {
  position: relative;
  margin: 60px auto;
  padding: 18px 35px;
  width: 200px;
  background: #FFF;
  border: 2px white;
  border-radius: 5px;
  box-shadow: 0 2px 9px rgba(0,0,0,0.9);
  -moz-box-shadow: 0 2px 9px rgba(0,0,0,0.9);
  -webkit-box-shadow: 0 2px 9px rgba(0,0,0,0.9);
}

#cuadro_login > h1 {
  margin-top: 10px;
  font-size: 25px;
  font-weight: bold;
  color: green;
  text-align: center;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.4);
}
 
#caja-email {

  display: block;
  width: 100%;
  height: 40px;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: -10px;
  font-size: 16px;
  padding: 0px 8px;
  color: black;
  border: 1px black;
  border-radius: 5px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.9);
  -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.9);
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.9);
}

#caja-pass {
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 8px;
  margin-left: -10px;
  font-size: 16px;
  padding: 0 8px;
  color: black;
  border: 1px solid #fff;
  border-radius: 5px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.9);
  -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.9);
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.9);
}

#caja-email:focus, #caja-pass:focus {
  -webkit-box-shadow: inset 0 1px 5px rgba(47, 233, 19, 0.9);
  box-shadow: inset 0 1px 5px rgba(21, 86, 11, 0.9);
  /*box-shadow: inset 0 1px 5px rgba(21, 86, 11, 0.9);*/
} 

#boton-iniciar {
  font-size: 20px;
  margin-top: 20px;
  margin-left: -10px;
  font-weight:bolder; /*grosor de la letra*/
  width: 110%;/*largo del botón*/
  height:47px;
  cursor: pointer;
  border: 15px;
  display: block;
  color: #FFF; /*color letra boton*/
  text-align: center;
  background: #15560B;
  border-radius: 6px;
}

#boton-iniciar:hover{
  background-image: linear-gradient(to bottom, rgb(16, 60, 9), rgb(16, 60,13)); /*color que cambia al colocar el cursor*/
}
.login-help1 {
  text-align: left;
  margin-top: -3px;
  margin-left: -8px;
}
.login-help1 > a {
  font-size: 17px;
  color: black;
  text-decoration: none;
}
.login-help1 > a:hover {
  font-size: 17px;
  text-decoration: underline;
  color: blue;
}
.login-help2 {
  text-align: center;
  margin-top: 15px;
  margin-left: -6px;
}
.login-help2 > a {
  font-size: 18px;
  text-decoration: underline;
  color: black;
}

.login-help2 > a:hover {
  font-size: 18px;
  text-decoration: none;
  color: blue;
}